<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.book.dao.BookMapper">
    <resultMap id="BaseResultMap" type="com.java.book.domain.Book" >
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="writer_id" jdbcType="VARCHAR" property="writerId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="pic" jdbcType="VARCHAR" property="pic"/>
        <result column="style" jdbcType="VARCHAR" property="style"/>
        <result column="is_charge" jdbcType="INTEGER" property="isCharge"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,writer_id,name,introduction,create_time,update_time,pic,style,is_charge
    </sql>

    <insert id="insert" parameterType="com.java.book.domain.Book">
        insert into book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="writerId != null">
                writer_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            create_time,update_time,
            <if test="pic != null">
                pic,
            </if>
            <if test="style != null">
                style,
            </if>
            <if test="isCharge != null">
                is_charge,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="writerId != null">
                #{writerId},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="introduction != null">
                #{introduction},
            </if>
            now(),now(),
            <if test="pic != null">
                #{pic},
            </if>
            <if test="style != null">
                #{style},
            </if>
            <if test="isCharge != null">
                #{isCharge},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.java.book.domain.Book">
        update book
        <set>
            <if test="writerId != null">
                writer_id = #{writerId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="introduction != null">
                introduction = #{introduction},
            </if>
            update_time = now(),
            <if test="pic != null">
                pic = #{pic},
            </if>
            <if test="style != null">
                style = #{style},
            </if>
            <if test="isCharge != null">
                is_charge = #{isCharge},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from book
        where id=#{id}
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from book
        where id=#{id}
    </select>

    <select id="allBook" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from book
    </select>

    <select id="selectBookByCharge" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from book
        where is_charge = #{isCharge}
    </select>


    <select id="BookOfName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from book
        where name like #{name}
    </select>

    <select id="BookOfWriterId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from book
        where writer_id = #{writerId}
    </select>

    <select id="likeStyle" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from book
        where style like #{style} and is_charge = ${isCharge}
    </select>
</mapper>