<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.book.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="com.java.book.domain.Order" >
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="directory_id" jdbcType="INTEGER" property="directoryId"/>
    </resultMap>

    <sql id="Base_Column_List">
        *
    </sql>

    <insert id="insert" parameterType="com.java.book.domain.Order">
        insert into order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="directoryId != null">
                directory_id,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="directoryId != null">
                #{directoryId},
            </if>
        </trim>
    </insert>

    <select id="selectOrderByParam" resultMap="BaseResultMap">
        select * from order where user_id = #{userId}
    </select>

</mapper>